@charset "UTF-8";
/* Scss Document */
/* 共通CSS
-------------------------------------------------------------- */
/* line 6, common.scss */
body {
  background: #f7f1ed;
}

/* line 10, common.scss */
.article {
  background: #fff;
}
/* line 13, common.scss */
.article .content {
  padding-left: 0;
  padding-right: 0;
  margin: 0 25px 20px;
}

/* line 20, common.scss */
.article-bottom {
  margin-bottom: 40px;
}

/* caption */
/* line 25, common.scss */
h1.title {
  border-bottom: 10px solid #2482f2;
}
/* line 28, common.scss */
h1.title a {
  font-weight: bold;
  color: #333;
}

/* line 34, common.scss */
h2.caption, h2.sub-caption {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 35px;
  background: url(../images/common/h2-caption.png) left top no-repeat;
  border-bottom: 3px solid #5cd47e;
}
/* line 43, common.scss */
h2.caption a, h2.sub-caption a {
  color: #333;
}

/* line 48, common.scss */
h2.sub-caption {
  background: url(../images/common/h2-caption-other.png) left top no-repeat;
  border-bottom: 3px solid #2482f2;
}

/* line 54, common.scss */
h3.caption {
  font-size: 1.375rem;
  font-weight: bold;
  color: #333;
  padding-bottom: 0;
  padding-left: 15px;
  margin-bottom: 20px;
  background: url(../images/common/h3-caption.png) left center no-repeat;
  border-bottom: none;
}
/* line 64, common.scss */
h3.caption a {
  color: #333;
}

/* header
-------------------------------------------------------------- */
/* line 71, common.scss */
#header {
  background: url(../images/header/title-head-bg.png) no-repeat center top #e9dccb;
}

/* line 75, common.scss */
.head-logo {
  margin: 10px auto 0;
}

/* footer
-------------------------------------------------------------- */
/* line 81, common.scss */
#footer {
  background: #e9dccb;
  border-top: 5px solid #387d57;
}

/* line 86, common.scss */
#copy {
  background: #387d57;
}

/* グローバルナビ
-------------------------------------------------------------- */
/* line 96, common.scss */
.navigation {
  background: none;
}
/* line 99, common.scss */
.navigation a {
  color: #fff;
  display: block;
}
/* line 103, common.scss */
.navigation a:hover {
  color: #41a62a;
  text-decoration: none;
}

/* Primary Navigation */
/* line 111, common.scss */
.primary-navigation {
  border-top: 10px solid #387d57;
  border-bottom: 5px solid #a6e094;
  background: #5cd47e;
}
/* line 117, common.scss */
.primary-navigation .current_page_item > a {
  color: #fff;
  background-color: #387d57;
}
/* line 124, common.scss */
.primary-navigation .current_page_ancestor > a {
  color: #fff;
  background-color: #387d57;
}
/* line 131, common.scss */
.primary-navigation .current-menu-item > a {
  color: #fff;
  background-color: #387d57;
}
/* line 138, common.scss */
.primary-navigation .current-menu-ancestor > a {
  color: #fff;
  background-color: #387d57;
}
/* line 144, common.scss */
.primary-navigation li {
  height: auto;
  width: auto;
  display: inline-block;
  line-height: 60px;
  margin-bottom: -5px;
  border-right: none;
}
/* line 153, common.scss */
.primary-navigation li .current_page_item > a {
  color: #fff;
  background-color: #387d57;
}
/* line 160, common.scss */
.primary-navigation li .current_page_ancestor > a {
  color: #fff;
  background-color: #387d57;
}
/* line 167, common.scss */
.primary-navigation li .current-menu-item > a {
  color: #fff;
  background-color: #387d57;
}
/* line 174, common.scss */
.primary-navigation li .current-menu-ancestor > a {
  color: #fff;
  background-color: #387d57;
}
/* line 180, common.scss */
.primary-navigation li a {
  color: #fff;
  padding: 0 1rem;
  -moz-transition: linear 0.1s;
  -o-transition: linear 0.1s;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}
/* line 187, common.scss */
.primary-navigation li:hover > a {
  background-color: #387d57;
  color: #fff;
  -moz-transition: linear 0.1s;
  -o-transition: linear 0.1s;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}
/* line 195, common.scss */
.primary-navigation li.focus > a {
  background-color: #387d57;
  color: #fff;
  -moz-transition: linear 0.1s;
  -o-transition: linear 0.1s;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}
/* line 202, common.scss */
.primary-navigation li:nth-of-type(1) {
  border-bottom: 5px solid #c89352;
}
/* line 206, common.scss */
.primary-navigation li:nth-of-type(2) {
  border-bottom: 5px solid #82cbe2;
}
/* line 210, common.scss */
.primary-navigation li:nth-of-type(3) {
  border-bottom: 5px solid #f8d764;
}
/* line 214, common.scss */
.primary-navigation li:nth-of-type(4) {
  border-bottom: 5px solid #e77d3d;
}
/* line 218, common.scss */
.primary-navigation li:nth-of-type(5) {
  border-bottom: 5px solid #dfc2d9;
}
/* line 222, common.scss */
.primary-navigation li:nth-of-type(6) {
  border-bottom: 5px solid #495a5d;
}
/* line 226, common.scss */
.primary-navigation li:nth-of-type(7) {
  border-bottom: 5px solid #fceaaf;
}
/* line 230, common.scss */
.primary-navigation li:nth-of-type(8) {
  border-bottom: 5px solid #54afc7;
}
/* line 234, common.scss */
.primary-navigation li:nth-of-type(9) {
  border-bottom: 5px solid #ee9aac;
}
/* line 239, common.scss */
.primary-navigation a {
  font-weight: bold;
  white-space: nowrap;
}

/* footer Navigation */
/* line 246, common.scss */
.footer-navigation {
  font-size: 1rem;
  text-align: center;
}
/* line 250, common.scss */
.footer-navigation li {
  display: inline-block;
  border-left: 1px solid #387d57;
}
/* line 254, common.scss */
.footer-navigation li:first-child {
  border: none;
}
/* line 259, common.scss */
.footer-navigation a {
  color: #387d57;
  padding: 0 .5rem;
}

/* line 265, common.scss */
.footer-wrapp {
  margin: 25px auto 35px;
}

/* サイドバー
-------------------------------------------------------------- */
/* line 272, common.scss */
.sidebar img {
  width: 100%;
}
/* line 276, common.scss */
.sidebar.side2 {
  height: auto !important;
}
/* line 280, common.scss */
.sidebar.abs1, .sidebar.abs2 {
  text-align: center;
  padding: 10px;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 287, common.scss */
.sidebar.abs1 img, .sidebar.abs2 img {
  width: auto;
}

/* line 293, common.scss */
.widget-title {
  font-size: 1.25rem;
  background: #5cd47e;
  color: #fff;
  line-height: 2.5rem;
}
/* line 299, common.scss */
.widget-title:before {
  display: inline-block;
  content: "";
  margin-right: 1rem;
  width: 15px;
  height: 2.5rem;
  background: #387d57;
  vertical-align: bottom;
}

/* line 310, common.scss */
.search_btn {
  padding: 6px 17px;
  background: #5cd47e;
  border: none;
  cursor: pointer;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 322, common.scss */
.search_form {
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: 240px;
  line-height: 2.25rem;
  border: 1px solid #ccc;
  border-right: none;
  vertical-align: top;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-moz-document url-prefix() {
  /* line 340, common.scss */
  .search_form {
    max-width: 234px;
    height: 40px;
  }
}
/* line 347, common.scss */
.wpp-list li {
  background: #fff;
  border-bottom: 1px solid #ccc;
}
/* line 351, common.scss */
.wpp-list li:last-child {
  border: none;
}
/* line 356, common.scss */
.wpp-list .thumb {
  max-width: 80px;
  max-height: 80px;
  margin: 15px 20px 10px 10px;
}
/* line 361, common.scss */
.wpp-list .thumb img {
  height: auto;
}
/* line 366, common.scss */
.wpp-list .wpp-title {
  margin-top: 15px;
  font-size: 1rem;
  float: left;
  width: 100%;
  max-width: 180px;
}
/* line 374, common.scss */
.wpp-list .wpp-views {
  display: block;
  text-align: right;
  font-size: .75rem;
}

/* アーカイブ
-------------------------------------------------------------- */
/* line 383, common.scss */
.thumb {
  background: url(../images/common/pke-bg-big.png);
  background-size: contain;
  width: 160px;
  height: 160px;
  max-width: 160px;
  max-height: 160px;
  text-align: center;
  display: table;
}
/* line 393, common.scss */
.thumb a {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
/* line 398, common.scss */
.thumb a img {
  max-width: 100%;
  max-height: 100%;
}
/* line 404, common.scss */
.thumb p {
  display: table-cell;
  vertical-align: middle;
}
/* line 409, common.scss */
.thumb.data {
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  text-align: center;
  display: table;
}
/* line 417, common.scss */
.thumb.data img {
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}

/* ページネーション */
/* line 430, common.scss */
.pagination li {
  line-height: 50px;
  background: #fff;
  border-left: 2px solid #ccc;
}
/* line 435, common.scss */
.pagination li:first-child {
  border: none;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 441, common.scss */
.pagination li:last-child {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 448, common.scss */
.pagination li a,
.pagination li span {
  padding: 0 1.5rem;
}
/* line 455, common.scss */
.pagination .prev, .pagination .next {
  background: #5cd47e;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 460, common.scss */
.pagination .prev a, .pagination .next a {
  color: #fff;
}
/* line 465, common.scss */
.pagination .next {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* 404
-------------------------------------------------------------- */
/* line 478, common.scss */
.not-title {
  margin-bottom: 30px;
  text-align: center;
}

/* line 483, common.scss */
.not-content {
  font-size: 1.25rem;
  text-align: center;
}
/* line 487, common.scss */
.not-content p {
  margin-bottom: 10px;
}
