@charset "UTF-8";
/* Scss Document */
/* version
-------------------------------------------------------------- */
.version p {
  font-size: .875rem;
  font-weight: bold;
  color: #DD4B39;
  margin-bottom: 20px;
  padding: 5px 20px;
  background: #eee;
}

/* data
-------------------------------------------------------------- */
h1.data-title {
  border-bottom: none;
  background: url(../images/common/poke-name.png) left bottom no-repeat;
  padding: 0 0 0 35px;
  font-size: 1.375rem;
  line-height: 2.25rem;
}

.data-right {
  max-width: 550px;
}

.data-head {
  margin-bottom: 20px;
}

.status-table {
  margin: 0 auto 10px;
  width: 100%;
}

.status-left {
  width: 45%;
  padding-right: 20px;
  border-right: 1px solid #e6e6e6;
}

.status-right {
  padding-left: 20px;
}

.race {
  width: 100%;
  table-layout: fixed;
}
.race th {
  text-align: center;
  font-weight: bold;
}
.race td {
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
}
.race td:first-child {
  border-left: 1px solid #f2f2f2;
}
.race td:last-child {
  border-right: 1px solid #f2f2f2;
}
.race td:nth-child(even) {
  background: #f2f2f2;
}
.race .h {
  background: #b0ffc5;
}
.race .a {
  background: #ffa188;
}
.race .b {
  background: #f9d29f;
}
.race .c {
  background: #e6b6e4;
}
.race .d {
  background: #fff2ac;
}
.race .s {
  background: #b3eeff;
}

/* training
-------------------------------------------------------------- */
.element table {
  width: 100%;
  margin-bottom: 20px;
}
.element table th {
  width: 30%;
}

.enemy {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  background: url(../images/common/pke-bg-small.png) center center no-repeat;
  margin: 0 2%;
}
.enemy p {
  display: table-cell;
  vertical-align: middle;
}
.enemy p img {
  max-width: 100px;
  max-height: 100px;
}

.enemy_wrapp {
  margin-bottom: 20px;
}

.enemy_comment {
  margin-bottom: 20px;
}

.damage {
  padding: 20px;
  border: 2px dashed #5cd47e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* pokemon
-------------------------------------------------------------- */
.training {
  max-height: 300px;
  overflow-y: auto;
}
.training .excerpt {
  max-width: 520px;
}
.training .article {
  margin-bottom: 20px;
}
.training .article .content {
  border-bottom: 1px solid #ccc;
}
.training .post_meta.content {
  border-bottom: none;
}

.technique_table,
.inherit_table {
  width: 100%;
  border: 1px solid #5cd47e;
}
.technique_table tr:nth-child(odd),
.inherit_table tr:nth-child(odd) {
  background: #f2f2f2;
}
.technique_table tr th,
.inherit_table tr th {
  font-weight: bold;
}
.technique_table tr td,
.inherit_table tr td {
  border-left: 1px solid #ccc;
}
.technique_table tr td:nth-child(2), .technique_table tr td:nth-child(3), .technique_table tr td:nth-child(4),
.inherit_table tr td:nth-child(2),
.inherit_table tr td:nth-child(3),
.inherit_table tr td:nth-child(4) {
  text-align: center;
}
.technique_table tr th,
.technique_table tr td,
.inherit_table tr th,
.inherit_table tr td {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.technique_table .heading th,
.inherit_table .heading th {
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #5cd47e;
  background: #5cd47e;
}

.technique_table .heading th:nth-child(1) {
  width: 21%;
}
.technique_table .heading th:nth-child(2) {
  width: 15%;
}
.technique_table .heading th:nth-child(3) {
  width: 3%;
}
.technique_table .heading th:nth-child(4) {
  width: 3%;
}
.technique_table .heading th:nth-child(5) {
  width: 22%;
}
.technique_table .heading th:nth-child(6) {
  width: 35%;
}

.inherit_table .heading th:first-child {
  width: 20%;
}
.inherit_table tr td:nth-child(2) {
  text-align: left;
}

.user_post_list {
  margin-bottom: 20px;
}
.user_post_list .thumb {
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
}
.user_post_list .excerpt {
  max-width: 650px;
}
.user_post_list .excerpt h1 {
  font-size: 1.3125rem;
}

/* sns
-------------------------------------------------------------- */
#share ul {
  text-align: center;
}
#share ul li {
  display: inline-block;
  margin: 0 1%;
}

/* 関連記事
-------------------------------------------------------------- */
.yarpp-wrapp {
  text-align: center;
}

.yarpp {
  width: 180px;
  height: 180px;
  max-width: 180px;
  max-height: 180px;
  display: inline-block;
  margin: 0 1%;
  vertical-align: top;
}
.yarpp .thumb {
  width: 180px;
  height: 180px;
  max-width: 180px;
  max-height: 180px;
}
