@charset "UTF-8";
/* スマホ表示CSS
-------------------------------------------------------------- */
/* line 6, style-child.scss */
img {
  width: 100%;
  height: auto;
}

/* 共通CSS
-------------------------------------------------------------- */
/* 基本 */
/* line 16, style-child.scss */
#wrapper {
  width: 100%;
  max-width: 1200px;
}

/* footer
-------------------------------------------------------------- */
/* グローバルナビ
-------------------------------------------------------------- */
/* 固定ページ（Home）
-------------------------------------------------------------- */
/*------------------------------------------------------------
*
* タブレット用レスポンシブcss画面の横幅が768px以下
*
-------------------------------------------------------------- */
/*------------------------------------------------------------
*
* スマホ用レスポンシブcss画面の横幅が640px以下
*
-------------------------------------------------------------- */
@media screen and (max-width: 640px) {
  /* スマホ表示CSS
  -------------------------------------------------------------- */
  /* line 45, style-child.scss */
  .pc {
    display: none;
  }

  /* line 48, style-child.scss */
  .sp {
    display: block;
  }

  /* レイアウトCSS
  -------------------------------------------------------------- */
  /* line 53, style-child.scss */
  .content1, .content2, .content3, .content4, .content5, .content6, .content-first, .content2:first-child, .content3:first-child, .content4:first-child, .content5:first-child, .content6:first-child {
    float: none;
    margin: 0 auto 20px;
    width: 80%;
  }

  /* 基本
  -------------------------------------------------------------- */
  /* line 60, style-child.scss */
  #main, #main-left, #main-right {
    width: 100%;
    float: none;
  }

  /* line 73, style-child.scss */
  #side-left, #side-right {
    float: none;
    display: none;
  }

  /* line 82, style-child.scss */
  .thumb {
    float: none;
    margin: 0 auto 20px;
  }

  /* line 87, style-child.scss */
  .excerpt {
    float: none;
    margin: 0;
  }

  /* line 92, style-child.scss */
  #share ul li {
    margin-bottom: 20px;
  }

  /* header
  -------------------------------------------------------------- */
  /* line 98, style-child.scss */
  .head-logo, .head-tel {
    float: none;
    margin: 0 auto 0px;
    text-align: center;
  }

  /* footer
  -------------------------------------------------------------- */
  /* line 105, style-child.scss */
  #footer {
    margin-top: 100px;
  }

  /* line 109, style-child.scss */
  .foot-left, .foot-right {
    float: none;
    width: 100%;
    margin-bottom: 35px;
  }

  /* line 114, style-child.scss */
  .footer-logo, .footer-tel, .footer-add, .copy {
    text-align: center;
  }

  /* グローバルナビ
  -------------------------------------------------------------- */
  /* line 119, style-child.scss */
  .navigation {
    padding: 0;
  }

  /* line 122, style-child.scss */
  .primary {
    display: none;
  }

  /* line 125, style-child.scss */
  .primary-navigation {
    border-top-width: 5px;
  }
  /* line 127, style-child.scss */
  .primary-navigation li {
    line-height: 3.5rem;
  }
  /* line 129, style-child.scss */
  .primary-navigation li.menu-item {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    border-top: 1px solid #fff;
    border-bottom: none;
  }
  /* line 138, style-child.scss */
  .primary-navigation li a {
    display: block;
  }

  /* line 143, style-child.scss */
  #toggle {
    display: block;
    position: relative;
    width: 100%;
    background: none;
  }
  /* line 148, style-child.scss */
  #toggle a {
    display: block;
    position: relative;
    padding: 12px 0 10px;
    height: 1.7rem;
    text-align: center;
    text-decoration: none;
  }
  /* line 156, style-child.scss */
  #toggle:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #fff;
  }
  /* line 168, style-child.scss */
  #toggle a:before, #toggle a:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 4px;
    background: #5CD47E;
  }
  /* line 178, style-child.scss */
  #toggle a:before {
    margin-top: -6px;
  }
  /* line 181, style-child.scss */
  #toggle a:after {
    margin-top: 2px;
  }

  /* training
  -------------------------------------------------------------- */
  /* line 189, style-child.scss */
  .enemy_wrapp .enemy {
    max-width: 100%;
  }
  /* line 192, style-child.scss */
  .enemy_wrapp .enemy p img {
    max-width: 100%;
    max-height: 100%;
  }
  /* line 197, style-child.scss */
  .enemy_wrapp .thumb.enemy {
    float: left;
    width: 33.33%;
    margin-bottom: 0;
  }

  /* pokemon
  -------------------------------------------------------------- */
  /* line 209, style-child.scss */
  .technique_table tr th {
    display: block;
  }
  /* line 212, style-child.scss */
  .technique_table tr td {
    display: inline-block;
    border-left: none;
    border-right: 1px solid #ccc;
  }
  /* line 217, style-child.scss */
  .technique_table tr td:last-child {
    border-right: none;
    display: block;
  }
  /* line 223, style-child.scss */
  .technique_table .heading {
    display: none;
  }

  /* データベース
  -------------------------------------------------------------- */
  /* line 230, style-child.scss */
  .content5.pokeitem {
    width: 48%;
    float: left;
    margin-bottom: 20px;
  }
  /* line 235, style-child.scss */
  .content5.pokeitem:nth-of-type(2n+1) {
    clear: both;
  }
  /* line 238, style-child.scss */
  .content5.pokeitem a {
    min-height: 260px;
  }

  /* line 243, style-child.scss */
  .filters-select {
    font-size: 1.25rem;
    width: 100%;
    margin: 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  /* line 253, style-child.scss */
  .battle_btn-wrap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  /* プロフィール
  -------------------------------------------------------------- */
  /* line 261, style-child.scss */
  .author-description {
    float: none;
    width: auto;
  }

  /* line 267, style-child.scss */
  .user_post_list .thumb {
    float: left;
  }
  /* line 270, style-child.scss */
  .user_post_list .excerpt {
    float: left;
    width: 73%;
    margin-left: 2%;
  }
}
